{{> hero }}
<div class="space-around-content">

  {{#each dbnews}}

  <div class="container">
    <div class="row">
      <div class="col-9">
        <img class="img-news" src={{this.img}}>
        <a href={{this.url}}>{{this.url}}</a>
        <h3>{{this.headline}}</h3>

        <button class="btn comment-btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"
          aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Comments +</button>

  
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                <p>{{comments}}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal for adding comments -->
        <form action="/api/news/{{this._id}}" method="POST">
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Your Comment</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Your Name:</label>
                    <input type="text" class="form-control" id="recipient-name" name="name">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Comment:</label>
                    <textarea class="form-control" id="message-text" name="body"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn add-notes-btn btn-primary" data-id="{{this._id}}">Post</button>
                </div>
              </div>
            </div>
          </div>

        </form>
        <button data-id="{{this._id}}" type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#exampleModal">Add Note</button>
      </div>
    </div>
  </div>

  {{/each}}
</div>