{{> hero }}
<div class="space-around-content">

  {{#each dbnews}}

  <div class="container">
    <div class="row">
      <div class="col-9">
        <img style="width: 500px" class="img-news" src={{this.img}}>
        <a href={{this.url}}>{{this.url}}</a>
        <p>{{this.headline}}</p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
              </div>
            </div>
          </div>
        </div>

        <!-- Modal for adding comments -->
        <form action="/api/news/" id="comment-form">
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Your Comment</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Your Name:</label>
                    <input type="text" class="form-control name" id="recipient-name" name="name">
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Comment:</label>
                    <textarea class="form-control body" id="message-text" name="body"></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn add-note btn-primary">Post</button>
                </div>
              </div>
            </div>
          </div>

        </form>
        <button class="add-note-target" data-id="{{this._id}}" id="exampleModal" "type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#exampleModal">Add Note</button>

          <div class="card">
  <div class="card-header">
    Featured Comments
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <a href="/api/delete/" class="btn btn-primary">Remove</a>
  </div>
</div>

      </div>
    </div>
  </div>

  {{/each}}
</div>